body {
    margin: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px 20px;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.menu li {
    margin: 0 30px;
    position: relative;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, border-color 0.3s;
}

.menu a:hover {
    color: #888;
}

.menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.menu a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu-icon {
        display: flex;
    }
}

.table thead th {
    border-bottom: 2px solid #000;
    background-color: white;
}

.table tbody tr {
    border-bottom: 1px solid #ccc;
}

.table tbody th,
.table tbody td {
    border: none;
}
